body {
    margin: 0;
    font-family:'Segoe UI', sans-serif; /*font for the text */
    overflow: hidden; /*Prevent scrolling during loading */
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030304;
    color: #f8f4eb;
    font-size: 2rem
}

.typing-animation {
    position: relative;
    width: fit-content;
}

.loading-screen.fade-out {
    animation: fadeOut 1s forwards;
}

#greeting {
    border-right: 2px solid #f8f4eb; /*Blinking cursor effect*/
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

@keyframes typing {
    from { width: 0}
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}

#greeting {
    animation: blink 0.7s step-end infinite;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}